<html>
  <style>
    header{
      background-color: #e6e6e6;
      padding: 10px;
      font-size: 20px;
      color: black;
    }
    a:link, a:visited{
      background-color: #DCDCDC;
      color: black;
      display: inline-block;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
    }
    a:hover, a:active{
      background-color: #D3D3D3;
    }
    p{
      font-size: 16px;
    }
  </style>
   <body>
     <header>
       <H1>Error</H1>
     </header>
     <p>You are not authorized to edit!!!</p>
     <a href=/>Go Back</a>
   </body>
</html>
