<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>

  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
      height: 100%;
    }
      /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    header {
      background-color:black;
      color:white;
      text-align:center;
      padding:5px;
    }
    nav {
      line-height:30px;
      background-color:#eeeeee;
      height:300px;
      width:100px;
      float:left;
      padding:5px;
    }
    section {
      width:350px;
      float:left;
      padding:10px;
    }
    footer {
      background-color:black;
      color:white;
      clear:both;
      text-align:center;
      padding:5px;
    }
  </style>
  <body>
      <div id="map"></div>
    <script>
      function initMap() {
        var myLatLng = {lat: <%=lat%>, lng: <%=lon%>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_xCgykT_fI3AGInYovbe7ncZIgJ6JZ2I&callback=initMap">
    </script>
  </body>
</html>
