<html>
  <style>
    header{
      background-color: #e6e6e6;
      padding: 30px;
      text-align: center;
      font-size: 35px;
      color: black;
    }
    li{
      display: inline-block;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 6px;
      cursor: pointer;
    }
  </style>
   <body>
     <header>
       <H1>Restaurants</H1>
       <H4>User: <%= name %></H4>
       <H4>Showing documents (criteria: {})</H4>
     </header>
     <li><a href=/new>Create New Restaurant</a></li>
     <li><a href=/display>Display</a></li>
     <ul>
    <% for(var i=0; i<qrestaurant.length; i++) { %>
        <li>
            <a href='display/?id=<%= qrestaurant[i].id %>'>
                <%= qrestaurant[i].name %>
            </a>
        </li>
    <% } %>
</ul>
   </body>
</html>
